<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/style.css">
  <title>Edit Client</title>
</head>
<body>
  <div class="container">
    <header>
      <h1>Edit Client</h1>
    </header>
    <form action="/api/clients/<%= client.client_id %>?_method=PUT" method="POST">
      <label for="first_name">First Name:</label>
      <input type="text" id="first_name" name="first_name" value="<%= client.first_name %>" required>

      <label for="last_name">Last Name:</label>
      <input type="text" id="last_name" name="last_name" value="<%= client.last_name %>" required>

      <label for="phone_number">Phone Number:</label>
      <input type="text" id="phone_number" name="phone_number" value="<%= client.phone_number %>">

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" value="<%= client.email %>">

      <button type="submit">Update Client</button>
    </form>
    <a href="/" class="btn">Return to Main Page</a>
  </div>
</body>
</html>
